USE [QLDIEM]
GO
ALTER TABLE [dbo].[HOCPHAN] DROP CONSTRAINT [CK_HOCPHAN]
GO
ALTER TABLE [dbo].[DIEMTHI] DROP CONSTRAINT [CK_DIEMTHI_1]
GO
ALTER TABLE [dbo].[DIEMTHI] DROP CONSTRAINT [CK_DIEMTHI]
GO
ALTER TABLE [dbo].[SINHVIEN] DROP CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[LOP] DROP CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[DIEMTHI] DROP CONSTRAINT [FK_DIEMTHI_SINHVIEN]
GO
ALTER TABLE [dbo].[DIEMTHI] DROP CONSTRAINT [FK_DIEMTHI_HOCPHAN]
GO
ALTER TABLE [dbo].[LOP] DROP CONSTRAINT [DF_LOP_HEDAOTAO]
GO
/****** Object:  Index [IX_KHOA]    Script Date: 06/29/2022 09:52:29 ******/
ALTER TABLE [dbo].[KHOA] DROP CONSTRAINT [IX_KHOA]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 06/29/2022 09:52:29 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SINHVIEN]') AND type in (N'U'))
DROP TABLE [dbo].[SINHVIEN]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 06/29/2022 09:52:29 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOP]') AND type in (N'U'))
DROP TABLE [dbo].[LOP]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 06/29/2022 09:52:29 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KHOA]') AND type in (N'U'))
DROP TABLE [dbo].[KHOA]
GO
/****** Object:  Table [dbo].[HOCPHAN]    Script Date: 06/29/2022 09:52:29 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HOCPHAN]') AND type in (N'U'))
DROP TABLE [dbo].[HOCPHAN]
GO
/****** Object:  Table [dbo].[DIEMTHI]    Script Date: 06/29/2022 09:52:29 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIEMTHI]') AND type in (N'U'))
DROP TABLE [dbo].[DIEMTHI]
GO
/****** Object:  Table [dbo].[DIEMTHI]    Script Date: 06/29/2022 09:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMTHI](
	[MAHOCPHAN] [nvarchar](10) NOT NULL,
	[MASV] [char](10) NOT NULL,
	[LANTHI] [tinyint] NOT NULL,
	[DIEM] [numeric](5, 2) NOT NULL,
 CONSTRAINT [PK_DIEMTHI] PRIMARY KEY CLUSTERED 
(
	[MAHOCPHAN] ASC,
	[MASV] ASC,
	[LANTHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHAN]    Script Date: 06/29/2022 09:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHAN](
	[MAHOCPHAN] [nvarchar](10) NOT NULL,
	[TENHOCPHAN] [nvarchar](50) NOT NULL,
	[SOTINCHI] [tinyint] NOT NULL,
 CONSTRAINT [PK_HOCPHAN] PRIMARY KEY CLUSTERED 
(
	[MAHOCPHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 06/29/2022 09:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nvarchar](5) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
	[DIENTHOAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 06/29/2022 09:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nvarchar](10) NOT NULL,
	[TENLOP] [nvarchar](60) NOT NULL,
	[KHOAHOC] [tinyint] NULL,
	[HEDAOTAO] [nvarchar](25) NOT NULL,
	[NAMNHAPHOC] [smallint] NULL,
	[MAKHOA] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 06/29/2022 09:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](10) NOT NULL,
	[HODEM] [nvarchar](25) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[NGAYSINH] [smalldatetime] NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[NOISINH] [nvarchar](100) NULL,
	[MALOP] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_SINHVIEN_1] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DIEMTHI] ([MAHOCPHAN], [MASV], [LANTHI], [DIEM]) VALUES (N'nlkt', N'tm01-020  ', 1, CAST(9.00 AS Numeric(5, 2)))
INSERT [dbo].[DIEMTHI] ([MAHOCPHAN], [MASV], [LANTHI], [DIEM]) VALUES (N'sql', N'dl01-001  ', 1, CAST(8.00 AS Numeric(5, 2)))
INSERT [dbo].[DIEMTHI] ([MAHOCPHAN], [MASV], [LANTHI], [DIEM]) VALUES (N'sql', N'dl01-002  ', 1, CAST(5.00 AS Numeric(5, 2)))
GO
INSERT [dbo].[HOCPHAN] ([MAHOCPHAN], [TENHOCPHAN], [SOTINCHI]) VALUES (N'hoa', N'Hóa đại cương', 3)
INSERT [dbo].[HOCPHAN] ([MAHOCPHAN], [TENHOCPHAN], [SOTINCHI]) VALUES (N'javacb', N'Java cơ bản', 3)
INSERT [dbo].[HOCPHAN] ([MAHOCPHAN], [TENHOCPHAN], [SOTINCHI]) VALUES (N'ltc', N'Lập trình C++', 3)
GO
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [DIENTHOAI]) VALUES (N'cnud', N'Công nghệ thông tin ứng dụng', N'0511-962962-445')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [DIENTHOAI]) VALUES (N'daic', N'Đại cương', N'0511-962962-401')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [DIENTHOAI]) VALUES (N'khmt', N'Khoa học máy tính', N'0511-962962-479')
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [HEDAOTAO], [NAMNHAPHOC], [MAKHOA]) VALUES (N'dh01', N'Đồ họa 1', 1, N'Chính quy', 2007, N'cnud')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [HEDAOTAO], [NAMNHAPHOC], [MAKHOA]) VALUES (N'dh02', N'Đồ họa 2', 2, N'Chính Quy', 2008, N'cnud')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [HEDAOTAO], [NAMNHAPHOC], [MAKHOA]) VALUES (N'dh03', N'Đồ họa 3', 3, N'Chính Quy', 2009, N'khmt')
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HODEM], [TEN], [NGAYSINH], [GIOITINH], [NOISINH], [MALOP]) VALUES (N'dh01-005  ', N'Phạm Duy', N'Phương', CAST(N'1986-03-15T00:00:00' AS SmallDateTime), 1, N'Bố Trạch, Quảng Bình', N'dh01')
INSERT [dbo].[SINHVIEN] ([MASV], [HODEM], [TEN], [NGAYSINH], [GIOITINH], [NOISINH], [MALOP]) VALUES (N'dh02-002  ', N'Mai Thị', N'Kiều', CAST(N'1983-02-03T00:00:00' AS SmallDateTime), 0, N'Điện Bàn, Quảng Nam', N'dh02')
INSERT [dbo].[SINHVIEN] ([MASV], [HODEM], [TEN], [NGAYSINH], [GIOITINH], [NOISINH], [MALOP]) VALUES (N'dh03-001  ', N'Nguyễn Như', N'Vũ', CAST(N'1986-07-25T00:00:00' AS SmallDateTime), 1, N'Hải Châu, Đà Nẵng', N'dh03')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KHOA]    Script Date: 06/29/2022 09:52:29 ******/
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [IX_KHOA] UNIQUE NONCLUSTERED 
(
	[TENKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [DF_LOP_HEDAOTAO]  DEFAULT (N'Chính quy') FOR [HEDAOTAO]
GO
ALTER TABLE [dbo].[DIEMTHI]  WITH CHECK ADD  CONSTRAINT [FK_DIEMTHI_HOCPHAN] FOREIGN KEY([MAHOCPHAN])
REFERENCES [dbo].[HOCPHAN] ([MAHOCPHAN])
GO
ALTER TABLE [dbo].[DIEMTHI] CHECK CONSTRAINT [FK_DIEMTHI_HOCPHAN]
GO
ALTER TABLE [dbo].[DIEMTHI]  WITH CHECK ADD  CONSTRAINT [FK_DIEMTHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DIEMTHI] CHECK CONSTRAINT [FK_DIEMTHI_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[DIEMTHI]  WITH CHECK ADD  CONSTRAINT [CK_DIEMTHI] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[DIEMTHI] CHECK CONSTRAINT [CK_DIEMTHI]
GO
ALTER TABLE [dbo].[DIEMTHI]  WITH CHECK ADD  CONSTRAINT [CK_DIEMTHI_1] CHECK  (([LANTHI]=(1) OR [LANTHI]=(2)))
GO
ALTER TABLE [dbo].[DIEMTHI] CHECK CONSTRAINT [CK_DIEMTHI_1]
GO
ALTER TABLE [dbo].[HOCPHAN]  WITH CHECK ADD  CONSTRAINT [CK_HOCPHAN] CHECK  (([SOTINCHI]>(0)))
GO
ALTER TABLE [dbo].[HOCPHAN] CHECK CONSTRAINT [CK_HOCPHAN]
GO
