
.header_top {
    background-color: var(--primary-color);
}

.wrap {
    
}

.logo {
    padding: 8px 0;
    color: white;
    font-size: 1.2rem;
}

.right ul li {
    padding: 12px;
}

.right ul li:hover {
    background:hsla(0,0%,100%,.1);
}

.right ul li a {
    display: inline-block;
}

.right ul li a:hover {
    opacity: 0.8;
    
}

.right ul .btn{
    padding: 0;
}